<!DOCTYPE html>
<html>
<head>

    <link href="~/css/MyLeaveSection.css" rel="stylesheet" />
   
</head>
<body>

    <h1>My Leave Section </h1>



    <a asp-area="" asp-controller="DashBoard" asp-action="NewLeaave">
        <button type="button" class="btn btn-primary">New Leave</button>
    </a>


   
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">LeaveId</th>
                <th scope="col">Number of Days</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Leave Type</th>
                <th scope="col">Status</th>
                <th scope="col">Reson</th>
                <th scope="col">Applied On</th>
                <th scope="col">Manager Comments</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>nnnn</td>
                <td>nn</td>
                <td>dd/mm/yyyy</td>
                <td>dd/mm/yyyy</td>
                <td>Earned Leave</td>
                <td>Pending|Approved|denied</td>
                <td>xxxxxxxxx xxxxxxxxxx  xxxxxxxxx</td>
                <td>dd/mm/yyyy</td>
                <td>xxxxxxxxx xxxxxxxxxx  xxxxxxx xxxxxx xxxxx</td>

            </tr>

        </tbody>
    </table>


</body>
</html>